<h1>Edit task!</h1>

<%= form_for(@task, url: task_update_path(@task)) do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.label :description %>
  <%= t.text_field :description %>
  <%= t.submit %>
<% end %>
